Binaries/Win64/LuminousRebellion.exe filter=lfs diff=lfs merge=lfs -text
Binaries/Win64/LuminousRebellion.pdb filter=lfs diff=lfs merge=lfs -text
Intermediate/ProjectFiles/UE4.vcxproj filter=lfs diff=lfs merge=lfs -text